body {
    background-color: aquamarine;
    font-family: Arial;
    background-image: url("mossback4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo{
    margin-left: 33%;
    
}

h1 {
    color: mintcream;
    text-align: center;
}

h3{
    color: rgb(0, 56, 56);
    font-family: Cambria;
    font-weight: bold;
}

ul {
    color: rgb(20, 136, 10);

}

.middle{
    margin: 0% 25%;
    background-image: url("bgi001.png");
    background-size: 100%;
    
}


h2{
    color: rgb(195, 236, 224);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(25, 77, 155);
    font-size: 30px;
    font-family: cursive;

}

.ball01{
    margin-left: 10%;
}

.ball02{
    margin-left: 90%;
}

.ball03{
    margin-left: 50%;
}
