body {
    background-color: aquamarine;
    font-family: Arial;
}

img .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: mintcream;
    text-align: center;
}

h3{
    color: rgb(0, 56, 56);
    font-family: Cambria;
    font-weight: bold;
}

ul {
    color: rgb(20, 136, 10);

}

main{
    margin: 25px 400px;
    background-image: url("mossback4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


h2{
    color: rgb(195, 236, 224);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(25, 77, 155);
    font-size: 30px;
    font-family: cursive;

}

